{{#each posts as |post|}}
<div class="post">
    <div class=" display-flex justify-space-between align-center post-title">
        <h4>{{title}}</h3>
        <p>Posted by {{user.username}}</p>
    </div>
    <div class="post-content">
        {{content}}
    </div>
</div>
{{/each}}