<div>
    <div class="block-header">
        <h2>Create New Post</h2>
    </div>
    <div class="block-body">
        <form class="form new-post-form">
            <div class="form-group">
                <label for="new-post-title">Title</label>
                <input class="form-input" type="text" id="new-post-title">
            </div>
            <div class="form-group">
                <label for="new-post-content">Content</label>
                <textarea class="form-input" id="new-post-content" cols="30" rows="5"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-secondary" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>

<script src="../js/newPost.js"></script>