<div class="post">
    <div class="display-flex justify-space-between align-center post-title">
        <h4>{{post.title}}</h4>
        <p>Posted by {{post.user.username}}</p>
    </div>
    <div class="post-content">
        {{post.content}}
    </div>
</div>
{{> comments}}