:root {
    --brown: #231010;
    --mint: #D9EAD3;
    --grey: #A7A7A7;
    --white: #ffffff;
}

body {
    background-color: var(--mint);
}

/* Header */
header {
    background-color: var(--brown);
}

header h1 {
    background-color: var(--mint);
    border-radius: 5px;
    box-shadow: 5px 5px 0 var(--grey);
    padding: 0.25rem 1rem;
}

header h1 a {
    color: var(--brown);
}

header nav * {
    background-color: transparent;
    border: none;
    color: var(--mint);
    margin: 0 1rem;
}

header nav *:hover {
    color: var(--white);
    text-decoration: none;
}

/* Login/Signup/Create Post */
#login-title, #signup-title, #create-post-title {
    background-color: var(--brown);
    color: var(--mint);
    padding: 0.25rem 1rem;
}

#login, #signup, #new-post {
    border: 0.25rem solid var(--brown);
    border-top: 0;
    padding: 0.5rem;
}

#login-btn, #signup-btn, #create-btn {
    width: 100%;
}

/* Homepage */
.post {
    border: 0.25rem solid var(--brown);
    border-top: 0;
    margin-bottom: 0.75rem;
}

.post-title {
    background-color: var(--brown);
    color: var(--mint);
    padding: 0.25rem;
}

.post-content {
    padding: 0.5rem;
}

/* Dashboard */
.dashboard-post {
    background-color: var(--grey);
    color: var(--white);
    width: 100%;
    margin-bottom: 0.5rem;
}

#new-post-btn {
    background-color: var(--brown);
    color: var(--mint);

    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0 auto;
}

#new-post-btn:hover {
    color: var(--white);
    text-decoration: none;
}
